* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-size: 16px;
    font-family: sans-serif;
}

.main {
    min-width: fit-content;
    max-width: 600px;
    min-height: 600px;

    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 7px;

    margin: 20px auto;
}

.command-pannel {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    min-height: 70px;
    
    border-radius: 7px 7px 0 0;

    padding: 20px 10px;
}

.command-pannel_input {
    border: 1px solid rgba(31, 32, 65, 0.25);
    width: 100%;
    padding: 3px 9px;
    border-radius: 10px;
}

.command-pannel_btns-container {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;

    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;

    padding: 3px 9px;
    border-radius: 10px;

    transition: opasity 0.3s;
}
button:hover {
    opacity: 0.7;
    cursor: pointer;
}
button:active {
    opacity: 1;
}

.taskList {
    padding: 10px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.task_description {
    margin-right: auto;
    margin-left: 5px;
}